<h1>Zarejestruj się</h1><br>

<center>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <ul>
          <% @user.errors.values.each do |messages| %>
            <% messages.each do |message| %>
              <li><%= message %><br></li>
            <% end %>
          <% end %><br>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email, :size => '50' %>
    </p><br>
    <p>
      <%= f.label :password, "Hasło" %><br />
      <%= f.password_field :password %>
    </p><br>
    <p>
      <%= f.label :password_confirmation, "Potwierdź hasło" %><br />
      <%= f.password_field :password_confirmation %>
    </p><br>
    <p class="button"><%= f.submit "Rejestracja"%></p><br>
  <% end %>
</center>

