<!DOCTYPE html>
<html>
<head>
  <title>Record Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: #ffe1cf;">

  <h1 style="font-family : Courier; color: white; background-color: black; font-size: 400%;", align="center"><b>Record Store</b></h1>

  <div class="element1" display="inline-block" id="element1">
    <nav class="navmenu navmenu-inverse" role="navigation">
      <%= button_to "Strona główna" , welcome_path%><br>

      <ul class="nav navmenu-nav">
        <li><%= button_to "Płyty" , records_path, class: "active"%></li><br>
        <li><%= button_to "Mój koszyk" , welcome_path, class: "active"%></li><br>
        <li><%= button_to "Kontakt" , welcome_path, class: "active"%></li><br>
      </ul>
    </nav>
  </div>

  <div id="element3">
    <div id="user_nav">
      <% if current_user %>
        Zalogowany jako <%= current_user.email %>.
        <%= link_to "Wyloguj", log_out_path %>
      <% else %>
        <%= link_to "Zarejestruj się", sign_up_path %> lub
        <%= link_to "Zaloguj", log_in_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %> 
  </div>

  <div id="element2">
    <%= yield %>
  </div>


</body>
</html>
