<!DOCTYPE html>
<html>
<head>
  <title>Record Store</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body style="background-color: #ffe1cf;">

  <h1 style="font-family : Courier; color: white; background-color: black; font-size: 400%;", align="center"><b>Record Store</b></h1>

  <div class="element1" display="inline-block" id="element1">
    <nav class="navmenu navmenu-inverse" role="navigation">
      <%= button_to "Strona główna" , welcome_path %><br>

      <ul class="nav navmenu-nav">
        <li><%= button_to "Płyty" , records_path, class: "active"%></li><br>
        <% if session[:basket_id].nil? %>
          <% initialize_basket %>
        <% end %>
        <li><%=button_to "Mój koszyk" , show_basket_path(Basket.find(session[:basket_id])), class: "active"%></li><br>
        <% if current_user %>
          <li><%= button_to "Moje zamówienia", orders_index_path, class: "active"%></li><br>
          <li><%= button_to "Moje konto", current_user, class: "active"%></li><br>
        <% end %>
      </ul>
    </nav>
  </div>

  <div id="element3">
    <div id="user_nav">
      <% if current_user %>
        Zalogowany jako: <br>
        <b><%= current_user.email %></b><br><br>
        <%= link_to "Wyloguj", log_out_path %>
      <% else %>
        <%= link_to "Zarejestruj się", sign_up_path %> lub
        <%= link_to "Zaloguj", log_in_path %>
      <% end %>
    </div><br>

    <% flash.each do |name, message| %>
    <% if message.kind_of?(Array) %>
      <b>Podano nieprawidłowe dane:</b><br><br>
      <% message.each do |msg| %>
        <b style="color:#990000"><%= content_tag :div, msg, :id => "flash_#{name}" %></b><br>
      <% end %>
    <% else %>
      <b><%= content_tag :div, message, :id => "flash_#{name}" %></b>
    <% end %>
    <% end %>
  </div>

  <div id="element2">
    <%= yield %>
  </div>


</body>
</html>
